
<div class="ui stackable grid">
    <app-side class="four wide column"></app-side>
    <div class="twelve wide column">
        <div class="ui stackable secondary  menu">
            <h1 class="ui">Shoes & Foot Wear-51588 items</h1>
            <div class="right menu">
              <select class="ui dropdown">
                <option value="">category</option>
                <option value="2">cloths</option>
                <option value="1">shoes</option>
                <option value="0">hous wear</option>
            </select>
            </div>
        </div>
        <div Class="option">
            <h3 class="ui"> Bundels ^ Offers</h3>
            <h3 class="ui"> </h3>
        </div>
        <div class="ui four column stackable grid">
            <div class="column ">
                <div class="ui fluid card ">
                  <div class="image ">
                    <img src="assets/imges/black-heels.jpeg">
                  </div>
                  <div class="content ">
                    <a class="header">Black heels with gold accents</a>
                  </div>
                </div>
              </div>
            <div class="column ">
              <div class="ui fluid card ">
                <div class="image">
                  <img src="assets/imges/sandals.jpeg">
                </div>
                <div class="content">
                  <a class="header">Gold sandals with pearls</a>
                </div>
              </div>
            </div>
            <div class="column ">
              <div class="ui fluid card">
                <div class="image">
                    <img src="assets/imges/heels.jpg">
                  </div>
                  <div class="content">
                    <a class="header">Black heels</a>
                  </div>
              </div>
            </div>
            <div class="column ">
              <div class="ui fluid card">
                <div class="image">
                  <img src="assets/imges/boots.jpeg">
                </div>
                <div class="content">
                  <a class="header">Autumn boots</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


