  <div>
  <h5 class="ui header"> Home /Footewar/Shoes & Footwear</h5>
  <div class="ui grid">
      <div class="ui vertical divider"></div>
      <div class="ui list">
          <div class="item">
            <h3 class="ui header">Men</h3>
          </div>
          <div class="item">
            <h3 class="ui header">Women</h3>
          </div>
          <div class="item">
            <h3 class="ui header">Boys</h3>
          </div>
          <div class="item">
            <h3 class="ui header">Girls</h3>
          </div>
        </div>
  </div>
  <div class="ui divider"></div>
  <div class="ui form">
      <div class="grouped fields">
        <label><h2 class="ui header">CATEGORIES</h2></label>

        <div class="field">
          <div class="ui  checkbox">
            <input type="checkbox" name="example">
            <label>Casual Shoes</label>
          </div>
        </div>
        <div class="field">
          <div class="ui  checkbox">
            <input type="checkbox" name="example">
            <label>Heels</label>
          </div>
        </div>
        <div class="field">
          <div class="ui  checkbox">
            <input type="checkbox" name="example">
            <label>Flat</label>
          </div>
        </div>
        <div class="field">
          <div class="ui  checkbox">
            <input type="checkbox" name="example">
            <label>Sports Shoes</label>
          </div>
        </div>
        <div class="field">
          <div class="ui  checkbox">
            <input type="checkbox" name="example">
            <label>Formal Shoes</label>
          </div>
        </div><div class="field">
          <div class="ui  checkbox">
            <input type="checkbox" name="example">
            <label>Sandals</label>
          </div>
        </div><div class="field">
          <div class="ui  checkbox">
            <input type="checkbox" name="example">
            <label>Flip Flop</label>
          </div>
        </div><div class="field">
          <div class="ui  checkbox">
            <input type="checkbox" name="example">
            <label>Sports Sandals</label>
          </div>
        </div>
      </div>
    </div>
</div>
