
<div class="ui stackable grid">
    <app-side class="four wide column"></app-side>
    <div class="twelve wide column">
        <div class="ui stackable secondary menu">
            <h1 class="ui">Shoes & Foot Wear-51588 items</h1>
            <div class="right menu">
              <select class="ui dropdown">
                <option value="">category</option>
                <option value="2">cloths</option>
                <option value="1">shoes</option>
                <option value="0">hous wear</option>
             </select>
            </div>
        </div>
        <div Class="">
            <h3 class="ui"> Bundels > Offers</h3>
            <h3 class="ui"> </h3>
        </div>
        <div class="ui four column stackable grid">
            <div class="column">
                <div class="ui fluid card">
                  <div class="image">
                    <img src="assets/imges/whit-shoes.PNG">
                  </div>
                  <div class="content">
                    <a class="header">White shoes</a>
                  </div>
                </div>
              </div>
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                  <img src="assets/imges/black-nike.PNG">
                </div>
                <div class="content">
                  <a class="header">Black Nike</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                    <img src="assets/imges/black-shoes.PNG">
                  </div>
                  <div class="content">
                    <a class="header">Black shoes</a>
                  </div>
              </div>
            </div>
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                  <img src="assets/imges/black-addidas.PNG">
                </div>
                <div class="content">
                  <a class="header">Balck Adidas</a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


