


<div class="ui secondary menu">
        <img src="assets/imges/mentra.png">
      <a routerLink="men" routerLinkActive="active"class="item">
        Men
      </a>
      <a routerLink="women" routerLinkActive="active"class="item">
        Women
      </a>
      <a routerLink="kids" routerLinkActive="active"class="item">
          Kids
      </a>
      <a routerLink="home-and-living" routerLinkActive="active"class="item">
          Home & Living
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
      <img src="assets/imges/body-icon.PNG">
      <img src="assets/imges/bag-icon.PNG">
</div>

<div class="small-menu">
  <div class="ui compact menu">
    <div class="ui simple dropdown item">
      <img src="assets/imges/mentra.png">
      <i class="bars icon"></i>
      <div class="menu">
        <a routerLink="men" routerLinkActive="active"class="item">
          Men
        </a>
        <a routerLink="women" routerLinkActive="active"class="item">
          Women
        </a>
        <a routerLink="kids" routerLinkActive="active"class="item">
            Kids
        </a>
        <a routerLink="home-and-living" routerLinkActive="active"class="item">
            Home & Living
        </a>
        <img src="assets/imges/body-icon.PNG">
        <img src="assets/imges/bag-icon.PNG">      
      </div>
  </div>
</div>
</div>
<div class="ui divider d-1"></div>


  <router-outlet></router-outlet>