
<div class="ui stackable grid">
    <app-side class="four wide column"></app-side>
    <div class="twelve wide column">
        <div class="ui stackable secondary  menu">
            <h1 class="ui">Shoes & Foot Wear-51588 items</h1>
            <div class="right menu">
              <select class="ui dropdown">
                <option value="">category</option>
                <option value="2">cloths</option>
                <option value="1">shoes</option>
                <option value="0">hous wear</option>
             </select>
            </div>
        </div>
        <div Class="">
            <h3 class="ui"> Bundels > Offers</h3>
            <h3 class="ui"> </h3>
        </div>
        <div class="ui stackable four column grid">
            <div class="column">
                <div class="ui fluid card">
                  <div class="image">
                    <img src="assets/imges/baby-pink.jpg">
                  </div>
                  <div class="content">
                    <a class="header">Pink rinning shoes for baby girls </a>
                  </div>
                </div>
              </div>
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                  <img src="assets/imges/baby-sandal.jpg">
                </div>
                <div class="content">
                  <a class="header">Cute coverd sandals in baby pink</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                    <img src="assets/imges/spiderman.jpg">
                  </div>
                  <div class="content">
                    <a class="header">Spiderman running shoes for baby boys</a>
                  </div>
              </div>
            </div>
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                  <img src="assets/imges/flashy.jpg">
                </div>
                <div class="content">
                  <a class="header">Stylish & Flashy sandals </a>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

